.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px 60px 400px 40px;
  grid-template-areas:
    "header"
    "navigation"
    "body"
    "footer";
}
.navigation {
  grid-area: navigation;
  background-color: #fff;
}
.header {
  grid-area: header;
  background-color: red;
}
.body {
  grid-area: body;
  background-color: aqua;
}
.footer {
  grid-area: footer;
  background-color: green;
}
